@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap');

body, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
}

body, section {
    background-color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
    display: none;
}

::-moz-selection { 
    background-color: #979797; 
    color: #ffffff;
}
    
::selection {
    background-color: #979797;
    color: #ffffff;
}

.uk-black {
    background-color: rgb(0, 0, 0);
}

.nav {
    position: absolute;
    margin-top: 0px !important;
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-width: 5900px;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
  
.outter-wrapper {
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.uk-container {
    margin-left: 0;
    margin-right: 0;
}

.p-header p{
    transform: rotate(-90deg);
    color: #85858528;
    font-weight: 900;
    font-size: 10em;
    margin-left: -100px;;
}

.about a {
    text-decoration: underline;
}

.about a:hover {
    color: rgb(175, 175, 175) !important;
}

/* @media (min-width: 960px) { 
    .uk-container {
        padding-left: 40px;
        padding-right: 0px;
    }
}
@media (min-width: 640px) {
    .uk-container {
        padding-left: 30px;
        padding-right: 0px;
    }
} */

/* Cursor */
.txt-type > .txt {
    border-right: 0.1rem solid #fff;
}

.txt-typ, .txt-type {
    text-decoration: underline;
}

.contact a:hover {
    color: rgb(175, 175, 175) !important;
}

.contact legend {
    font-weight: 300; 
    font-size: 2.2rem;
}

.uk-input, .uk-textarea{
    background-color: rgb(0, 0, 0);
    border-width: 1px !important;
    color: rgb(251, 251, 251);
}

.uk-input:focus {
    background: rgb(0, 0, 0) !important;
}

.uk-textarea:focus {
    background: rgb(0, 0, 0) !important;
}

.socials {
    display: inline-block;
}

.twitter:hover{
    color: rgb(22, 123, 255) !important;
}

.instagram:hover{
    color: rgb(255, 59, 108) !important;
}

.github:hover{
    color: rgb(105, 105, 105) !important;
}

.dribbble:hover{
    color: #ea4c89 !important;
}