@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800;900&display=swap');

body, a, p, h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif !important;
    color: #fff;
}

.uk-black {
    background-color: rgb(10, 10, 10);
}

/* Cursor */
.txt-type > .txt {
    border-right: 0.1rem solid #fff;
}

.txt-type {
    text-decoration: underline;
}

li {
    display: inline;
    list-style: none;
}

.projects h5 {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.contact input {
    color: rgb(0, 0, 0);
}

.contact a:hover {
    color: rgb(175, 175, 175);
}

.contact legend {
    font-weight: 900; 
    font-size: 2.5rem;
}

.socials {
    display: inline-block;
}